.TagInputFieldPage {
  height: 100vh;
  width: 100%;

  background: #698662;
  position: relative;

  & .cover {
    height: 50vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  & .TagInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
