@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.BoxShadowGenerator {
  --background-color: #cfcdcd;
  --input-bg-color: #e3dede;
  --black-color: #0b150d;
  --track-color: #b4b7b5;

  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & .Generator {
    width: min(90%, 700px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: var(--background-color);
    font-family: "Roboto Mono", serif;

    & h1 {
      width: 200px;
      align-self: flex-start;
      color: var(--black-color);
      font-size: 1.7rem;
      line-height: 1;
      margin-bottom: 20px;
    }

    .Settings {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      & .left,
      & .right {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
      }
      & .left {
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }

      & .right {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      }
      /* height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */

      & .SliderPicker {
        /* background: red; */
        color: var(--black-color);
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr;
        /* column-gap: 30px; */

        margin: 0;
        padding: 0;

        font-size: 12px;

        & .label {
          /* grid-area: text; */
          grid-column: 1 / 2;
          grid-row: 1 / 2;

          align-self: center;
          font-size: 12px;
        }

        & .input-group {
          /* width: 50px; */
          height: 35px;
          padding: 5px;

          grid-column: 2 / 3;
          grid-row: 1 / 2;

          display: flex;
          justify-content: space-between;
          align-items: center;

          border-radius: 10px;
          background-color: var(--input-bg-color);
          color: var(--black-color);

          & input::-webkit-outer-spin-button,
          & input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
          }

          & input[type="number"] {
            -moz-appearance: textfield; /* Firefox */
          }

          & input {
            border: none;
            background: none;
            text-align: right;
            margin: 0;
            padding: 0;
            width: 100%;
            margin-right: 2px;
            /* height: 30px; */

            /* display: flex; */
            /* background: red; */
          }
        }
        & input[type="range"] {
          /* grid-area: range; */
          grid-column: 1 / 3;
          grid-row: 2 / 3;
          width: 100%;
          padding: 5px;
          border: none;
          border-radius: 10px;
          background-color: var(--input-bg-color);
          color: var(--black-color);
          font-size: 1rem;

          -webkit-appearance: none;
          appearance: none;
          background: transparent;
        }

        /***** Track Styles *****/
        /***** Chrome, Safari, Opera, and Edge Chromium *****/
        & input[type="range"]::-webkit-slider-runnable-track {
          background: var(--track-color);
          height: 6px;
        }

        /******** Firefox ********/
        & input[type="range"]::-moz-range-track {
          background: var(--track-color);
          height: 6px;
        }

        & input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none; /* Override default look */
          appearance: none;
          margin-top: -3px; /* Centers thumb on the track */
          background-color: var(--input-bg-color);
          height: 12px;
          width: 12px;
          border-radius: 50%;
          cursor: pointer;
        }

        /***** Thumb Styles *****/
        /***** Firefox *****/
        & input[type="range"]::-moz-range-thumb {
          border: none; /*Removes extra border that FF applies*/
          border-radius: 50%; /*Removes default border-radius that FF applies*/
          background-color: var(--input-bg-color);
          height: 12px;
          width: 12px;
          cursor: pointer;
        }
      }

      & .ColorPicker {
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 15px;
        font-size: 12px;
        color: var(--black-color);

        & input[type="color"] {
          -webkit-appearance: none;
          border: none;
          height: 20px;
          width: 20px;
        }
        & input[type="color"]::-webkit-color-swatch-wrapper {
          padding: 0;
        }
        & input[type="color"]::-webkit-color-swatch {
          border: none;
        }

        & label {
          flex-grow: 1;
        }

        & .color-picker {
          height: 20px;
          width: 20px;
          /* border: 1px solid var(--black-color); */
          padding: 0;
          margin: 0;
          /* width: 20px; */
          &:hover {
            cursor: pointer;
          }
        }

        & .color-input {
          height: 35px;
          width: 80px;
          /* width: 100%; */
          /* padding: 5px; */
          border-radius: 10px;
          background-color: var(--input-bg-color);
          color: var(--black-color);
          border: none;
          text-align: center;
        }
      }
    }

    & .TogglePicker {
      color: var(--black-color);
      font-size: 12px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      & .switch {
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;
      }

      & .switch input {
        display: none;
      }

      & .slider {
        background-color: var(--input-bg-color);
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;
      }

      & .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 26px;
      }

      & input:checked + .slider {
        background-color: #66bb6a;
      }

      & input:checked + .slider:before {
        transform: translateX(26px);
      }

      & .slider.round {
        border-radius: 34px;
      }

      & .slider.round:before {
        border-radius: 50%;
      }
    }
  }

  & .Preview {
    width: min(90%, 600px);
    aspect-ratio: 1;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--input-bg-color);

    & .Box {
      width: 40%;
      aspect-ratio: 1;
    }
  }
}
