.TogglePasswordInput {
  background: rgb(84, 199, 187);
  color: rgb(16, 16, 30);
  border-radius: 10px;
  padding: 20px;
  width: min(90vw, 400px);
  aspect-ratio: 20 / 4;

  position: relative;
  top: -30vh;
  left: 50%;
  transform: translateX(-50%);

  & .elements {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 20px;
    top: 20px;

    width: 90%;

    z-index: 10;
  }

  & .lock,
  & .eye {
    height: 40px;
    width: 40px;
    aspect-ratio: 1;
  }

  & .lock {
    border-right: 1px solid white;
    padding-right: 10px;
    fill: #171546;
    transition: fill 0.5s 0.2s;
  }

  & .lock.open {
    fill: #60c6c2;
  }

  & .password {
    margin-left: 10px;
    border: none;
    outline: none;
    background: none;
    flex-grow: 1;

    &::placeholder {
      color: white;
    }
  }

  & .password.open {
    color: var(--white-color);
  }

  & .toggle {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  & .bottomeyelid {
    transition: visibility 0.15s;
  }

  & .bottomeyelid.closed {
    visibility: hidden;
  }

  & .topeyelid {
    transform-origin: center;
    transition: transform 0.5s;
  }

  & .topeyelid.closed {
    transform: rotateX(-180deg);
  }

  & .background {
    height: 50px;
    width: 50px;
    background: #171546;
    border-radius: 50%;

    position: absolute;
    right: 15px;
    top: 15px;

    transition: all 0.5s;
  }
  & .background.open {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 10px;
  }
}
