@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.GridGeneratorPage {
  height: 100vh;
  width: 100%;
  background: #698662;

  display: grid;
  grid-template-columns: 3fr 8fr;

  font-family: "Roboto Mono", serif;

  & .Sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #1d1d1d;
    padding: 60px 30px;

    & h1 {
      color: #eaff00;
      font-size: 44px;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 50px;
    }

    /* Chrome, Safari, Edge, Opera */
    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    & input[type="number"] {
      -moz-appearance: textfield;
    }

    & ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0;
      margin-bottom: 50px;
      & li {
        width: 80%;
        display: flex;
        justify-content: space-between;
        & label {
          & span {
            color: #797979;
          }
        }
        & input {
          background: #000000;
          color: white;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 30%;

          text-align: center;
        }
      }
    }

    & .getCodeBtn {
      background: none;
      border: 2px solid white;
      border-radius: 10px;
      padding: 10px;
      color: #eaff00;

      &:hover {
        cursor: pointer;
      }
    }
  }

  & .Playground {
    background: #000000;
    padding: 20px;

    display: flex;
    justify-content: right;
    align-items: center;

    position: relative;
    overflow: hidden;

    & .Modal {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: -100%;
      z-index: 30;
      background: #eaff00;
      transition: transform 0.4s;

      display: flex;
      flex-direction: column;

      padding: 120px 80px;

      &.open {
        transform: translateX(-100%);
      }

      & .closeBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        outline: none;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }

      & .copyBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: white;
        border: none;
        border-radius: 10px;
        padding: 10px;
        color: black;
        display: flex;
        justify-content: center;
        width: 210px;
        transition: scale 0.2s;

        &.copied {
          color: #008000;
        }

        &:hover {
          cursor: pointer;
          background: rgb(241, 239, 239);
        }
        &:active {
          scale: 0.98;
        }
      }

      & .cssCode {
        padding: 20px 30px;
        background: #1d1d1d;
        border-radius: 15px;
        color: lightgrey;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &:before {
          content: "CSS";
          font-size: 30px;
          color: black;
          position: absolute;
          left: 0;
          top: -50px;
        }

        & p:nth-of-type(1),
        & p:nth-of-type(12) {
          margin-left: 0px;
        }

        & p {
          margin-left: 40px;
        }
      }
    }

    & .Grid {
      height: min(80vh, 50vw);
      aspect-ratio: 6 / 5;
      display: grid;
      position: relative;

      & .Cell {
        border: 2px solid #636161;
        z-index: 10;
        background-image: url("/img/grid-generator/lines.svg");
      }

      & .Frame {
        position: absolute;
        height: 100%;
        width: 100%;
        border: 4px solid #eaff00;
        z-index: 15;
      }

      & .ColControl,
      & .RowControl {
        position: absolute;
        list-style: none;

        & .controlContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          & .Control {
            padding: 5px;
            background: #636161;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55px;

            &:hover {
              cursor: pointer;
            }

            /* Chrome, Safari, Edge, Opera */
            & input::-webkit-outer-spin-button,
            & input::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }

            /* Firefox */
            & input[type="number"] {
              -moz-appearance: textfield;
            }

            & input {
              background: none;
              outline: none;
              border: none;
              text-align: right;
              color: white;
              margin: 0;
              padding: 0;
              width: 15px;

              font-size: 12px;
            }

            & span {
              text-align: left;
              padding-right: 5px;

              font-size: 12px;

              user-select: none;
            }
          }
        }
      }

      & .ColControl {
        height: 40px;
        width: 100%;
        top: -50px;
        left: 0;
        display: grid;
        padding: 0;
      }

      & .RowControl {
        height: 100%;
        width: 70px;
        top: 0;
        left: -80px;
        display: grid;
        padding: 0;
      }
    }
  }
}
