@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.ExpenseTracker {
  --dark-color: #10140e;
  --red-color: #e51f1f;
  --green-color: #90ac62;
  --input-background-color: #f7f7f7;
  --border-color: #d7d7d7;
  --white-color: #ffffff;

  --out-padding: 30px;

  width: min(90%, 600px);

  background: var(--white-color);
  border-radius: 8px;

  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  color: var(--dark-color);

  & header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: var(--out-padding);

    & h1 {
      font-size: 24px;
      line-height: 24px;
      font-weight: 500;
      margin-bottom: 10px;
      align-self: flex-start;
    }

    & form {
      margin: 0;
      padding: 0;

      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      & label {
        font-size: 12px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        & input {
          padding: 10px;
          border: 2px solid var(--border-color);
          border-radius: 5px;
          background: var(--input-background-color);
        }
      }

      & label:nth-child(1) {
        flex-grow: 1;
      }

      & button {
        align-self: end;
        margin: 0;
        padding: 0;
        height: 40px;
        width: 40px;
        border: 2px solid var(--border-color);
        border-radius: 5px;
        background: none;
        cursor: pointer;
        position: relative;

        &::before {
          content: "+";
          font-size: 30px;
          font-weight: 700;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &.submitting::before {
          content: "✔";
          color: var(--green-color);
        }
      }
    }
  }

  & main {
    padding: var(--out-padding);

    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);

    & ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      & li {
        display: grid;
        grid-template-columns: 1fr 60px 40px;
        gap: 10px;

        & p {
          display: flex;
        }

        & span {
          font-size: 15px;
          font-weight: 500;
          display: flex;
          align-items: center;
        }

        & .expense {
          justify-content: end;
        }

        & button {
          height: 40px;
          width: 40px;
          border: none;
          cursor: pointer;
          background: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  & footer {
    padding: var(--out-padding);

    display: flex;
    justify-content: space-between;

    & span {
      font-size: 15px;
      font-weight: 500;
    }
  }
}
